.productContainer {
    background-color: white;
    display: flex;
    position: relative;
    border: solid 1px var(--border);
    flex-direction: column;
    height: 100%;
    width: 300px;

    .tags {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 20px;
        border-bottom: solid 1px var(--border);
    }

    .titles {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
        border-bottom: solid 1px var(--border);

        .productImage {
            height: 108px;
            width: 108px;
        }

        .subTitle {
            font-size: 12px;
            text-align: center;
            margin: 10px 0;
            color: var(--font-secondary);
        }

        .title {
            margin: 0;
            font-weight: 800;
        }
    }
}