.spendChartContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
    padding: 10px 20px;
    position: relative;
    border: solid 1px var(--border);
}